 ip link add {{ ve_nsm_h }} type veth peer name {{ ve_h_nsm }}
 ip link set {{ ve_nsm_h }} netns {{ nsm }}
 ip netns exec {{ nsm }} ip addr add {{nsm_h_ip}} dev {{ ve_nsm_h }}
 ip netns exec {{ nsm }} ip link set {{ ve_nsm_h }} up
 ip addr add {{h_nsm_ip}} dev {{ve_h_nsm}}
 ip link set {{ve_h_nsm}} up
